body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulointerior{
    border-bottom: 2px inset lightgray;
    color: rgb(76, 199, 76);
}
span{
    color: green;
}
h1{
    letter-spacing: 5px;
    text-align: center;
    color: orange
}
div{
    background-color: lightyellow;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border:8px solid gray;
    border-style: outset;
}
.textointerno{
    border-style:ridge;
    border:2px solid lightgray;

}
.minititulo{
    color: orange;
}