body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: ridge;

}
#cabeza{
    width: 100vw;
    height: 10vh;
}
#cuerpo{
    width: 76vw;
    height: 90vh;
    padding: 35px;
    display:flex;
    justify-content: center;

    

}
span{
    color: green;
    
}
h1{
    letter-spacing: 5px;
    text-align: center;
    color: orange
}
.lista{
    padding: 45px;
}
.titulotexto{
    color: lightgreen;
    border-bottom: 2px solid lightgray;
    width: 53vw;
}
.conjuntotexto{
    width: 55vw;
    height: 60vh;
    border: 2px solid lightgray;

}